<section class="container-fluid p-4">
  <div class="row d-flex align-items-center border-bottom p-2">
    <button class="btn btn-outline-secondary col-1" (click)="citasService.resetToCurrentWeek()">Esta semana</button>
    <div class="col-1">
      <button (click)="citasService.goToPreviousWeek()"  class="btn col"><i class="fa-solid fa-chevron-left"></i></button>
      <button (click)="citasService.goToNextWeek()" class="btn col-2"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    <div class="col">
      Week {{ citasService.daysInWeek[0] }} to {{ citasService.daysInWeek[6] }}
    </div>
    
  </div>

  <div class="row text-center px-5 m-0 overflow-y-auto calendar-container mt-3 position-relative">
    @for(dayInWeek of citasService.daysInWeek; track $index){
      <div class="col m-0 p-0 ">
        <div class="mb-4 position-sticky sticky-top bg-white">
          @if (citasService.toDay == dayInWeek) {
            <h4 class="bg-primary text-white rounded-pill">{{dayInWeek}}</h4>
          }@else {
            <h4 class="text-secondary">{{dayInWeek}}</h4>
          }
        </div>
        <div class="position-relative">
          @for (hour of citasService.hoursOpen; track $index) {
          
            <div class="border box-calendar position-relative box-component d-flex flex-column"     data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              @if(dayInWeek.toString().includes("Sunday")){
                <span class="position-absolute  text-primary hora-absolute">{{hour}}</span>
              }
              @for(minute of citasService.minutesOpen; track minute){
                <div class="row border-bottom h-25 w-100 ms-0" (click)="citasService.selectDay($event)" id="{{citasService.weeksOfYear[citasService.daysInWeek.indexOf(dayInWeek)]}}" [attr.hour]="hour" [attr.minute]="minute">
                  
                </div>
              }
            </div>
          
          }
        </div>
      </div>
    }
    
  </div>
</section>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear cita</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <p>Seleccionado: {{citasService.selectedDay.date.split('/').join('-')}}  Hora: {{citasService.selectedDay.hour.split(':')[0]}} : {{citasService.selectedDay.minute}}</p>
        
        <div class="row d-flex align-items-center p-2">
          <label for="pacientesList" class="form-label col-6">
            Paciente
          <input class="form-control" list="datalistPacientes" id="pacientesList" placeholder="Type to search..." (input)="citasService.handleFindPaciente($event)" (change)="citasService.selectPacienteList($event)">
            
          </label>
          <datalist id="datalistPacientes">
            @for(paciente of citasService.pacienteList; track $index){
              <option value="{{paciente._id}}">{{paciente.nombre}} {{paciente.apellidos}} - Telefono: {{paciente.telefono}}</option>
            }
          </datalist>
          <div class="col mt-3">
            <a href="pacientes/new/" target="_blank" rel="noopener noreferrer" class="border-0"><i class="fa-solid fa-user-plus" ></i> Crear nuevo paciente</a>
          </div>
        </div>

        <div class="row p-2">
          <Label class="col-6">
            Selecciona el dia
            <input type="date" name="date" id="" class="form-control row" value="{{citasService.selectedDay.date.split('/').join('-')}}" (input)="citasService.handleInputNewCita($event)">
          </Label>
          <Label class="col">
            Hora
            <select name="hour" id="" class="form-control" (input)="citasService.handleInputNewCita($event)">
              @for(hour of citasService.hoursOpen; track $index){
                @if(hour == citasService.selectedDay.hour){
                  <option value="{{hour}}" selected>{{hour}}</option>
                }@else{
                  <option value="{{hour}}">{{hour}}</option>
                }
              }
            </select>
          </Label>
          <Label class="col">
            Minuto
            <select name="minute" id="" class="form-control" (input)="citasService.handleInputNewCita($event)">
              @for(minute of citasService.minutesOpen; track $index){
                @if(minute == citasService.selectedDay.minute){
                  <option value="{{minute}}" selected>{{minute}}</option>
                }@else{
                  <option value="{{minute}}">{{minute}}</option>
                }
              }
            </select>
          </Label>
        </div>

        <div class="p-2 row">
          <textarea name="motivo" id="" cols="30" rows="5" class="form-control" placeholder="Motivo de la visita..." (input)="citasService.handleInputNewCita($event)"></textarea>
        </div>

        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary {{citasService.showModal}}"  (click)="citasService.saveCita()">Crear Cita</button>
      </div>
    </div>
  </div>
</div>