<section class="container-fluid p-4">
  <div class="row d-flex align-items-center border-bottom p-2">
    <button class="btn btn-outline-secondary col-1" (click)="citasService.resetToCurrentWeek()">Esta semana</button>
    <div class="col-1">
      <button (click)="citasService.goToPreviousWeek()"  class="btn col"><i class="fa-solid fa-chevron-left"></i></button>
      <button (click)="citasService.goToNextWeek()" class="btn col-2"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    <div class="col">
      Week {{ citasService.daysInWeek[0] }} to {{ citasService.daysInWeek[6] }}, {{citasService.monthName}}, {{citasService.year}}
    </div>
    
  </div>

  <div class="row text-center px-5 m-0 overflow-y-auto calendar-container mt-3 position-relative">
    @for(dayInWeek of citasService.daysInWeek; track $index){
      <div class="col m-0 p-0 ">
        <div class="mb-4 position-sticky sticky-top bg-white title-day-calendar">
          @if (citasService.toDay == dayInWeek) {
            <h4 class="bg-primary text-white rounded-pill">{{dayInWeek}}</h4>
          }@else {
            <h4 class="text-secondary">{{dayInWeek}}</h4>
          }
        </div>
        <div class="position-relative">
          @for (hour of citasService.hoursOpen; track $index) {
          
            <div class=" box-calendar position-relative box-component d-flex flex-column"  (dblclick)="showModalCreateCita()">
              @if(dayInWeek.toString().includes("Sunday")){
                <span class="position-absolute  text-primary hora-absolute">{{hour}}</span>
              }
              @for(minute of citasService.minutesOpen; track minute){
                <div class="row  h-50 w-100 ms-0 dragable p-1 m-0" (click)="citasService.selectDay($event)" id="{{citasService.weeksOfYear[citasService.daysInWeek.indexOf(dayInWeek)].split('/').join('-')}}" [attr.time]="hour.split(':')[0] + ':' + minute">
                  <!-- AGREGAMOS CITA SI EXISTA EN ESA HORA -->
                  @for(cita of citasService.citasSemana; track $index){
                    @if(cita.fecha == citasService.weeksOfYear[citasService.daysInWeek.indexOf(dayInWeek)].split('/').join('-') && cita.hora == hour.split(':')[0] + ':' + minute){
                      @if(cita?.estado == 'No realizada'){
                        <button id="{{cita._id}}" (click)="citasService.selectCita($event)" class="col  shadow cita m-0 border-start border-5 border-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> 
                          <div class="d-flex gap-2" >
                            <p class="text-secondary p-hora">{{cita?.hora}}</p>
                            <p class="m-0">{{cita?.paciente?.nombre}} {{cita?.paciente?.apellidos}}</p>
                            @if(cita?.here == true){
                              <p class="ms-auto"><i class="fa-solid fa-location-dot text-primary"></i></p>
                            }
                          </div>
                        </button>
                      }
                      @if(cita?.estado == 'Pago Pendiente'){
                        <button id="{{cita._id}}" (click)="citasService.selectCita($event)" class="col  shadow cita m-0 border-start border-5 border-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> 
                          <div class="d-flex gap-2" >
                            <p class="text-secondary p-hora">{{cita?.hora}}</p>
                            <p class="m-0">{{cita?.paciente?.nombre}} {{cita?.paciente?.apellidos}}</p>
                            <p class="ms-auto text-secondary"><i class="fa-solid fa-file-invoice-dollar"></i></p>
                            
                            @if(cita?.here == true){
                              <p ><i class="fa-solid fa-location-dot text-primary"></i></p>
                            }
                          </div>
                        </button>
                      }
                      @if(cita?.estado == 'Cancelada'){
                        <button id="{{cita._id}}" (click)="citasService.selectCita($event)" class="col  shadow cita m-0 border-start border-5 border-danger bg-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> 
                          <div class="d-flex gap-2" >
                            <p class="text-secondary p-hora">{{cita?.hora}}</p>
                            <p class="m-0 text-decoration-line-through">{{cita?.paciente?.nombre}} {{cita?.paciente?.apellidos}}</p>
                            @if(cita?.here == true){
                              <p class="ms-auto"><i class="fa-solid fa-location-dot text-primary"></i></p>
                            }
                          </div>
                        </button>
                        }
                      @if(cita?.estado == 'Cobrado'){
                        <button id="{{cita._id}}" (click)="citasService.selectCita($event)" class="col  shadow cita m-0 border-start border-5 border-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> 
                          <div class="d-flex gap-2" >
                            <p class="text-secondary p-hora">{{cita?.hora}}</p>
                            <p class="m-0">{{cita?.paciente?.nombre}} {{cita?.paciente?.apellidos}}</p>
                            <p class="ms-auto text-success"><i class="fa-solid fa-user-check"></i></p>
                            @if(cita?.here == true){
                              <p class=""><i class="fa-solid fa-location-dot text-primary"></i></p>
                            }
                          </div>
                        </button>
                        }
                      
                        
                    }
                  }
                </div>
              }
            </div>
          
          }
        </div>
      </div>
    }
    
  </div>
</section>




<!-- Modal -->
<div class="position-absolute create-cita mt-5 card z-5 p-4 shadow" [ngClass]="show_create_cita" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear cita</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="hideModalCreateCita()"></button>
      </div>
      <div class="modal-body ">
        <p>Seleccionado: {{citasService.selectedDay.date?.split('/').join('-')}}  Hora: {{citasService.selectedDay.time}} </p>
        
        <div class="row d-flex align-items-center p-2">
          <label for="pacientesList" class="form-label col-6">
            Paciente
          <input class="form-control" list="datalistPacientes" id="pacientesList" placeholder="Type to search..." (input)="citasService.handleFindPaciente($event)" (change)="citasService.selectPacienteList($event)">
            
          </label>
          <datalist id="datalistPacientes">
            @for(paciente of citasService.pacienteList; track $index){
              <option value="{{paciente._id}}">{{paciente.nombre}} {{paciente.apellidos}} - Telefono: {{paciente.telefono}}</option>
            }
          </datalist>
          <div class="col mt-3">
            <a href="pacientes/new/" target="_blank" rel="noopener noreferrer" class="border-0"><i class="fa-solid fa-user-plus" ></i> Crear nuevo paciente</a>
          </div>
        </div>

        <div class="row p-2">
          <Label class="col-6">
            Selecciona el dia
            <input type="date" name="date" id="" class="form-control row" value="{{citasService.selectedDay.date.split('/').join('-')}}" (input)="citasService.handleInputNewCita($event)">
          </Label>
          <Label class="col">
            Hora
            <input type="time" class="form-control" value="{{citasService.selectedDay?.time}}" (input)="citasService.handleInputNewCita($event)">
            
          </Label>
          
          
        </div>

        <div class="p-2 row">
          <textarea name="motivo" id="" cols="30" rows="5" class="form-control" placeholder="Motivo de la visita..." (input)="citasService.handleInputNewCita($event)"></textarea>
        </div>

        

      </div>
      <div class="modal-footer d-flex gap-2">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="hideModalCreateCita()">Close</button>
        <button type="button" class="btn btn-primary {{citasService.showModal}}"  (click)="citasService.saveCita();hideModalCreateCita()">Crear Cita</button>
      </div>
    </div>
  </div>
</div>




<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header border-bottom">
    <button type="button border" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-5">
    <h3 class="offcanvas-title row" id="offcanvasRightLabel">{{citasService.selectedCita?.paciente?.nombre}} {{citasService.selectedCita?.paciente?.nombre}}</h3>
    <p class="row d-flex justify-content-start row-12 align-items-center gap-2"><i class="fa-solid fa-phone text-primary col-1"></i> {{citasService.selectedCita?.paciente?.telefono}} </p>

    <div>
      <h5 class="row border-bottom mt-4 py-2">Cita</h5>
      @if(citasService.selectedCita?.estado == 'No realizada'){
        <p class="fw-bold p-0 m-0 mt-2">Estado</p>
        <p class="p-1 border-start border-5 border-primary"><i class="fa-solid fa-spinner"></i> {{citasService.selectedCita?.estado}}</p>
      }
      @if(citasService.selectedCita?.estado == 'Pago Pendiente'){
        <p class="fw-bold p-0 m-0 mt-2">Estado</p>
        <p class="p-1 border-start border-5 border-warning"><i class="fa-solid fa-comment-dollar"></i> {{citasService.selectedCita?.estado}}</p>
      }
      @if(citasService.selectedCita?.estado == 'Cancelada'){
        <p class="fw-bold p-0 m-0 mt-2">Estado</p>
        <p class="p-1 border-start border-5 border-danger"><i class="fa-solid fa-ban"></i> {{citasService.selectedCita?.estado}}</p>
      }
      @if(citasService.selectedCita?.estado == 'Cobrado'){
        <p class="fw-bold p-0 m-0 mt-2">Estado</p>
        <p class="p-1 border-start border-5 border-success"><i class="fa-solid fa-user-check"></i> {{citasService.selectedCita?.estado}}</p>
      }
      @if(citasService.selectedCita?.estado !='Cancelada'){
      <hr>
      <label for="" class="text-secondary col-12">
        <div class="d-flex justify-content-between gap-2 ">
          <input class="form-control" type="date" name="fecha" id="" value="{{citasService.selectedCita.fecha|| ''}}" (change)="citasService.updateCitaProp($event)">
          <input class="form-control" type="time" name="hora" id="" value="{{citasService.selectedCita.hora|| ''}}" (change)="citasService.updateCitaProp($event)">
        </div>
      </label>

      

      <div class="row-12 mt-3">
        <button class="btn btn-warning col-12 d-flex justify-content-between align-items-center " (click)="citasService.pacienteHere()">
          Paciente en la sala
          <i class="fa-solid fa-location-dot"></i>
        </button>

        @if(citasService.selectedCita.estado == 'No realizada'){
          <button class="btn btn-danger col-12 d-flex justify-content-between align-items-center mt-2" (click)="citasService.cancelarCita()">
            Cancelar cita
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        }
        @else {
          <button class="btn btn-danger col-12 d-flex justify-content-between align-items-center mt-2" (click)="citasService.cancelarCita()" disabled>
            Cancelar cita
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        }
      </div>

      <div class="row-12 mt-5">
        <h6 class="row-12">Motivo</h6>
        <textarea class="form-control">
          {{citasService.selectedCita.motivo || ''}}
        </textarea>

        @if(citasService.selectedCita.estado == 'Pago Pendiente'){
          <button class="btn btn-primary col-12 d-flex justify-content-between align-items-center mt-2"  (click)="citasService.initEpisode()">
            Ir a consulta
            <i class="fa-solid fa-laptop-medical"></i>
          </button>
        }
        @else {
          <button class="btn btn-primary col-12 d-flex justify-content-between align-items-center mt-2"  (click)="citasService.initEpisode()">
            Iniciar consulta
            <i class="fa-solid fa-laptop-medical"></i>
          </button>
        }
        
        @if(citasService.selectedCita.estado == 'Pago Pendiente'){
          <button type="button" class="btn btn-success col-12 d-flex justify-content-between align-items-center mt-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="citasService.getPagos()">
            Realizar cobro
            <i class="fa-solid fa-cash-register"></i>
          </button>
        }
        @else {
          <button class="btn btn-success col-12 d-flex justify-content-between align-items-center mt-1" (click)="citasService.initEpisode()" disabled>
            Realizar cobro
            <i class="fa-solid fa-cash-register"></i>
          </button>
        }
      </div>
    }@else {
      <button class="btn btn-success col-12 d-flex justify-content-between align-items-center mt-1" (click)="citasService.activarCita()" >
        Activar Cita
      </button>
    }
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Pagos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row">
        @if(citasService.cobros ){
          @for(cobro of citasService.cobros; track cobro){
            <div class="position-relative d-flex col col-12 w-100">
              <div class="position-absolute top-25 end-0 z-3 ">
                <button class="btn btn-outline-primary fs-5 me-2"><i class="fa-solid fa-print"></i></button>
                <button class="btn btn-outline-primary fs-5 me-2"><i class="fa-regular fa-paper-plane"></i></button>
                @if (!cobro?.cobrado) {
                  <button id="{{cobro._id}}" class="btn btn-danger  fs-5 me-5" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="seleccionarCobro($event)">Cobrar</button>
                }
              </div>
              <div class="position-absolute top-25 end-50 z-3  mt-2">
                
              </div>
              <div class="accordion  w-50" id="accordionExample">
                
                <div class="accordion-item">
                  <h2 class="accordion-header d-flex">
                    
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <strong>Coste {{cobro?.monto}} euros</strong>  
                    </button>
      
                    
                  </h2>
                
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    
                    <div class="row px-4">
                      <h4 class="row p-2">Servicios</h4>
                      <ul class="">
                        @for(medicamento of cobro?.prescripcion; track medicamento.nregistro){
                          <li>{{medicamento.nombre}}</li>
                        }
                      </ul>
                    </div>
      
                  </div>
                </div>
              </div>
            </div>
          }
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cobrar servicios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="">
          Seleccionar forma de pago
          <select name="" id="" class="row form-control ms-1 border-primary" (input)="seleccionarCobro($event)">
            <option value="efectivo">Efectivo</option>
            <option value="tarjeta">Tarjeta</option>
            <option value="transferencia">Transeferencia</option>
            <option value="bizum">Bizum</option>
          </select>
        </label>
        <h5 class="mt-3">
          Total: {{cobro_seleccionado?.monto}} euros
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="realizarCobro()">Save changes</button>
      </div>
    </div>
  </div>
</div>