<section class="container">
  <div class="d-flex align-items-center mt-5 justify-content-center gap-5">
    <h2 class="row-12 text-center">Bienvenido a tu perfil</h2>
    <div class="">
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="row mt-5 d-flex justify-content-center">
    <h5 class="row-12 mt-5 text-center" >Guardar y encriptar recetas</h5>
    <label for="" class="col-4">
      <input type="file" class="form-control" name="recetas" id="" (input)="onFileSelected($event)">
    </label>
    

    <div class="row d-flex justify-content-center mt-2">
      <button class="btn btn-primary col-2" (click)="saveRecetaXml()">Guardar</button>
    </div>
  </div>
</section>