<div class="row h-full">
  <div class="col">
    <!--primer bloque-->
    <div class="row d-flex justify-content-center mt-3">
      <label for="" class="col-2">
        Peso
        <input class="form-control" type="text" placeholder="kg" name="peso" (input)="actualizarConsulta($event)">
      </label>
      <label for="" class="col-2">
        Altura
        <input class="form-control" type="text" placeholder="metros" name="altura" (input)="actualizarConsulta($event)">
      </label>

      <div class="col-2 d-flex flex-column align-items-center">
        IMC
        <span class="row ">
          No Calculado
        </span>
      </div>
    </div>
    <!--primer bloque-->

    <div class="row p-2 d-flex justify-content-center">
      <label for="" class="col-10 ">
        <h4>Anamnesis</h4>
        <textarea class="form-control border-0" placeholder="Escriba aqui" name="anamnesis" id="" cols="30" rows="2" (input)="actualizarConsulta($event)"></textarea>
      </label>
    </div>

    <div class="row p-2 d-flex justify-content-center">
      <label for="" class="col-10 ">
        <h4>Sintomas</h4>
        <textarea class="form-control border-0" placeholder="Escriba aqui" name="sintomas" id="" cols="30" rows="2" (input)="actualizarConsulta($event)"></textarea>
      </label>
    </div>

    <div class="row p-2 d-flex justify-content-center">
      <label for="" class="col-10 ">
        <h4>Diagnostico</h4>
        <textarea class="form-control border-0" placeholder="Escriba aqui" name="diagnostico" id="" cols="30" rows="2" (input)="actualizarConsulta($event)"></textarea>
      </label>
    </div>

    <div class="row p-2 d-flex justify-content-center">
      <label for="" class="col-10 ">
        <h4>Comentarios</h4>
        <textarea class="form-control border-0" placeholder="Escriba aqui" name="comentarios" id="" cols="30" rows="2" (input)="actualizarConsulta($event)"></textarea>
      </label>
    </div>

    <div class="row p-2 d-flex justify-content-center">
        <h4 class="col-10">Prescripcion</h4>
    </div>
    <div class="row p-2 d-flex justify-content-center">
      <div class="col-10">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Medicamento</th>
              <th scope="col">Duracion</th>
              <th scope="col">Pauta</th>
              <th scope="col">Unidades</th>
            </tr>
          </thead>
          <tbody>
            @for(prescripcion of consultaActual?.prescripcion; track $index){
              <tr>
                <th scope="row">{{$index + 1}}</th>
                <td>{{prescripcion?.nombre}}</td>
                <td>{{prescripcion?.duracion}}</td>
                <td>{{prescripcion?.pauta}}</td>
                <td>{{prescripcion?.unidades}}</td>
              </tr>
            }

            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>