<section class="p-5 mt-5 p-3 container d-flex flex-column align-items-center">

  <h2 class="mt-5 text-info">Register</h2>

  <form method='post'  class="w-25 d-flex flex-column gap-2">
      <div>
          <label for="" class="form-label">Name</label>
          <input type="text" name="name" id="" class="form-control">
      </div>
      <div>
          <label for="" class="form-label">Last Name</label>
          <input type="text" name="last_name" id="" class="form-control">
      </div>
      <div>
          <label for="" class="form-label">Email</label>
          <input type="email" name="email" id="" class="form-control">
      </div>
      <div>
          <label for="" class="form-label">Password</label>
      <input type="password" name="password" id="" class="form-control">
      </div>
      <button class="btn btn-info w-100">Register</button>
  </form>

  <div class="d-flex flex-column align-items-center">
      <a href="" class="text-info mt-3">Login</a>
      <a href="" class="text-info mt-3">Forgot Password</a>
  </div>
</section>