@media print {
    .not-printable {
      visibility: hidden;
    }
    
  }

.contenedor{
  width: 90vw;
    overflow: hidden;
    padding: 0%;
    margin: 0%;
}
.container-fluid{
  overflow: hidden;
  
}

.info-panel{
  height: 160px;
}


p{
  font-size: 12px;
}

tr{
  font-size: 12px;
}