.aside{
    height: 98vh;
}
.circle-initail{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #9fd4e9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border: 1px solid #ccc;
    color: rgb(70, 73, 70);
}
