<section class="container">
  <div class="row-12 p-3 d-flex justify-content-between">
    <span><i class="fa-solid fa-arrow-left"></i></span>

    <div class="d-flex gap-2">
      <button class="btn btn-danger"><i class="fa-solid fa-trash-can-arrow-up"></i> Cancelar</button>
      <button class="btn btn-success" ><i class="fa-solid fa-cloud-arrow-up"></i> Guardar</button>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <app-paciente-episodio-form></app-paciente-episodio-form>
    </div>
    <div class="col-3">
      <app-paciente-episodio-right-menu></app-paciente-episodio-right-menu>
    </div>
  </div>
</section>