<div class="row px-5 mt-5">
  <button class="btn btn-outline-info col" data-bs-toggle="modal" data-bs-target="#prescripcion"><i class="fa-solid fa-pills" ></i> Crear Receta</button>
</div>
<div class="row px-5 mt-2">
  <button class="btn btn-info col"><i class="fa-solid fa-bed-pulse"></i> Enfermeria</button>
</div>
<div class="row px-5 mt-2">
  <a class="btn btn-warning col" (click)="redirectToFitToFly()"><i class="fa-solid fa-plane-departure"></i> Fit to Fly</a>
</div>

<div class="row d-none">
  <ul class="col d-flex flex-column align-items-start p-5">
    <li class="row">
      <button class="btn "><i class="fa-solid fa-file-medical"></i> Historial</button>
    </li>
    <li class="row">
      <button class="btn"><i class="fa-solid fa-paperclip"></i> Adjuntar Documento</button>
    </li>
    <li class="row">
      <button class="btn"><i class="fa-solid fa-camera"></i> Adjuntar Foto</button>
    </li>
    
  </ul>
</div>


<div class="row px-5 mt-5">
  <h5>Servicios</h5>
  <ul class="row">
    <li>Consulta</li>
    <li>Suero ...</li>
    <li>Recetas x4</li>
  </ul>
</div>




<div class="modal modal-xl" id="prescripcion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Prescripcion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row">
        <div class="col col-4 p-3 border-end">
            <div class="row">
              <label for="">
                Buscar Medicamento
                <input type="text" name="" id="" class="form-control" (input)="buscarMedicamento($event)">  
              </label>
            </div>
            <h6 class="row mt-3 ms-3">Lista</h6>
            <ul class="row lista">
              @for(medicamento of listaMedicamentos; track medicamento?.nregistro){
                <li id="medicamento.nregistro" class="row d-flex align-items-center border-bottom card-medicamento">
                  <div class="row">
                    <p class="fs-6 col-10">{{medicamento?.nombre}} </p>
                    <i class="fa-regular fa-trash-can text-danger btn col-2" (click)="eliminarMedicamento($event)" [id]="medicamento?.nregistro"></i>
                  </div>
                  <div class="row">
                    <p class="col border-end"><i class="fa-solid fa-repeat"></i> {{medicamento.pauta}}</p>
                    <p class="col border-end"><i class="fa-regular fa-calendar"></i> {{medicamento.duracion}}</p>
                    <p class="col"><i class="fa-solid fa-hashtag"></i> {{medicamento.unidades}}</p>
                  </div>
                </li>
              }
              
            </ul>
        </div>

        @if(resultadoBusqueda?.length > 0){
          <div class="col col-4 p-3 border-end">
            <h6 class="row mt-3 ms-3">Resultado</h6>
            <ul class="row lista-resultado ">
              @for(medicamento of resultadoBusqueda; track medicamento?.nregistro){
                <li class="btn border-bottom mt-2" [id]="medicamento?.nregistro" (click)="verPresentacion($event)">{{medicamento.nombre}}</li>
              }
            </ul>
          </div>
        }

        @if(presentaciones?.length > 0 && resultadoBusqueda?.length > 0){
          <div class="col col-4 p-3 border-end">
            <h6 class="row mt-3 ms-3">Presentacion</h6>
            <ul class="row lista-resultado ">
              @for(presentacion of presentaciones; track presentacion){
                <div [id]="presentacion?.nregistro" (click)="seleccionarmedicamento($event)"  class="row border-bottom mt-2 p-2 hover btn table-hover shadow">
                  <h6>{{presentacion?.nombre}}</h6>
                  <img [src]="presentacion?.fotos[0]?.url" alt="">
                  <a [href]="presentacion?.docs[0].url" target="_blank" class="btn btn-info m-2 w-75">Ficha Tecnica</a>
                </div>
              }
            </ul>
          </div>
        }

        @if(presentacionSeleccionada !== null){
          <div class="col col-4 p-3 border-end">
            <h6 class="row mt-3 ms-3">Agregar Indicacion</h6>
            <div class="row">
              <p class="col">Medicamento : {{presentacionSeleccionada?.nombre}}</p>

              <label for="" class="row">
                Duracion
                <input type="text" name="duracion" id="" class="form-control" (input)="crearIndicacion($event)">
              </label>
              <label for="" class="row">
                Pauta
                <select name="pauta" id="pauta" class="form-control" (input)="crearIndicacion($event)">
                  <option selected>Selecciona la pauta</option>
                  <option value="c/ 6h">c/ 6h</option>
                  <option value="c/ 8h">c/ 8h</option>
                  <option value="c/ 12h">c/ 12h</option>
                  <option value="c/ 24h">c/ 24h</option>
                </select>
              </label>
              <label for="" class="row">
                Unidades
                <input type="text" name="unidades" value="1" id="" class="form-control" (input)="crearIndicacion($event)">
              </label>

              <div class="row p-3">
                <button class="btn btn-info w-75 col" (click)="guardarIndicacion()">Agregar</button>
              </div>
            </div>
          </div>
        }

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="guardarMedicamentos()">Save changes</button>
      </div>
    </div>
  </div>
</div>