<div class="row px-5 mt-5">
  <button class="btn btn-outline-info col" data-bs-toggle="modal" data-bs-target="#prescripcion"><i class="fa-solid fa-pills" ></i> Crear prescripcion</button>
</div>
<div class="row px-5 mt-2">
  <button class="btn btn-info col"><i class="fa-solid fa-bed-pulse"></i> Enfermeria</button>
</div>

<div class="row">
  <ul class="col d-flex flex-column align-items-start p-5">
    <li class="row">
      <button class="btn"><i class="fa-solid fa-file-medical"></i> Historial</button>
    </li>
    <li class="row">
      <button class="btn"><i class="fa-solid fa-paperclip"></i> Adjuntar Documento</button>
    </li>
    <li class="row">
      <button class="btn"><i class="fa-solid fa-camera"></i> Adjuntar Foto</button>
    </li>
    
  </ul>
</div>


<div class="row px-5">
  <h5>Servicios</h5>
  <ul class="row">
    <li>Consulta</li>
    <li>Suero ...</li>
    <li>Recetas x4</li>
  </ul>
</div>



<!-- Button trigger prescripcion -->
<div class="modal modal-xl" id="prescripcion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Prescripcion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row">
        <div class="col col-4 p-3 border-end">
            <div class="row">
              <label for="">
                Buscar Medicamento
                <input type="text" name="" id="" class="form-control" (input)="buscarMedicamento($event)">  
              </label>
            </div>
            <h6 class="row mt-3 ms-3">Lista</h6>
            <ul class="row lista">
              <li>Paracetamol 50g</li>
            </ul>
        </div>

        @if(resultadoBusqueda?.length > 0){
          <div class="col col-4 p-3 border-end">
            <h6 class="row mt-3 ms-3">Resultado</h6>
            <ul class="row lista-resultado ">
              @for(medicamento of resultadoBusqueda; track medicamento?.nregistro){
                <li class="btn border-bottom mt-2" [id]="medicamento?.nregistro" (click)="verPresentacion($event)">{{medicamento.nombre}}</li>
              }
            </ul>
          </div>
        }

        @if(presentaciones?.length > 0){
          <div class="col col-4 p-3 border-end">
            <h6 class="row mt-3 ms-3">Presentacion</h6>
            <ul class="row lista-resultado ">
              @for(presentacion of presentaciones; track presentacion){
                <div class="row border-bottom mt-2 p-2">
                  <h6>{{presentacion?.nombre}}</h6>
                  <img [src]="presentacion.fotos[0].url" alt="">
                  <a [href]="presentacion.docs[0].url" target="_blank">Documento Completo</a>
                </div>
              }
            </ul>
          </div>
        }

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>