<div class="row px-5 mt-5">
  <button class="btn btn-outline-info col"><i class="fa-solid fa-pills"></i> Crear prescripcion</button>
</div>
<div class="row px-5 mt-2">
  <button class="btn btn-info col"><i class="fa-solid fa-bed-pulse"></i> Enfermeria</button>
</div>

<div class="row">
  <ul class="col d-flex flex-column align-items-start p-5">
    <li class="row">
      <button class="btn"><i class="fa-solid fa-file-medical"></i> Historial</button>
    </li>
    <li class="row">
      <button class="btn"><i class="fa-solid fa-paperclip"></i> Adjuntar Documento</button>
    </li>
    <li class="row">
      <button class="btn"><i class="fa-solid fa-camera"></i> Adjuntar Foto</button>
    </li>
    
  </ul>
</div>


<div class="row px-5">
  <h5>Servicios</h5>
  <ul class="row">
    <li>Consulta</li>
    <li>Suero ...</li>
    <li>Recetas x4</li>
  </ul>
</div>